#header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #A0A0A0;
    height: 15%;
    width: 100%;
}

#nav-links,
#social-links{
    display: flex;
    flex-direction: row;
}

.nav-list-items{
    padding: 1em;
    list-style-type: none;
    font-size: 1.5em;
}

.nav-links{
    text-decoration: none;
    color: black;
}