html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%
}

/* Header */
#header{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height: 15%;
    width: 100%;
}

#nav-links,
#social-links{
    display: flex;
    flex-direction: row;
}

.nav-list-items{
    padding: 1em;
    list-style-type: none;
    font-size: 1.5em;
}

.nav-links{
    text-decoration: none;
    color: black;
}

.landing-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 85%
}

.landing-heading{
    padding-left: 2em;
}

/* Sections */
.about-page,
.skills-page,
.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2em;
}


/* Footer */
.btt-btn {
    text-decoration: none;
    color: black;
}